<!DOCTYPE html>
<html>
<head>
    <title>Astrobot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
  <div class="heading"><h1>Astrobot</h1></div>
    
    <div class="overlay"></div>
    <div class="container">
        <h1> ASTRO.AI</h1>
        <div class="astronaut">
        </div>
        <div class="chatbox">
          <div class="chat">
            <p> Greeetings from the cosmos traveller</p>
            <p>{{ response }}</p>
          </div>
          <div class="ques">
            <form method="POST">
                <input type="text" name="user_input" placeholder="Ask your astronomy question">
                <button type="submit">Ask</button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>
